.App{
    border: 1px solid #232323;
    margin: 50px 25px;
    padding: 25px 15px ;
}

.todo-container{
    display: flex;
    flex-direction: column;
}

.todo-container ul li{
    width: 170px;
    overflow-wrap: break-word;
    list-style-type: "📝";
    cursor: pointer;
}

.done{
    text-decoration: line-through; 
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash{
    cursor: pointer;
}

footer{
    margin-left: 450px;
}